<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSE534 Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>


</head>
<body>
    <div>
        <p>Compare SPDY QUIC and HTTP</p>
    </div>

    <div>
		<select id="Protocols">
            <option selected value="protocols">All Protocols</option>
            <option value="SPDY">SPDY</option>
            <option value="HTTP">HTTP</option>
            <option value="QUIC">QUIC</option>
        </select>

        <select id="Website">
            <option selected value="Website">Website</option>
            <option value="google">Google</option>
            <option value="youtube">Youtube</option>
        </select>

        <select id="RTT">
            <option selected value="RTT">RTT</option>
            <option value="2">2</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="100">100</option>
        </select>

        <select id="Bandwidth">
            <option selected value="bandwidth">Bandwidth</option>
            <option value="0.75">0.75</option>
            <option value="1">1</option>
            <option value="4">4</option>
            <option value="30">30</option>
        </select>

        <select id="url">
            <option selected value="url">Objects</option>
            <option value="16_1000">16_1000</option>
            <option value="16_1000000">16_1000000</option>
            <option value="128_1000">128_1000</option>
            <option value="128_1000000">128_1000000</option>
        </select>

        <select id="Graph">
            <option selected value="graph">Graph</option>
            <option value="bar">Bar</option>
            <option value="sequence">Sequence</option>
        </select>

        <select id="BarType">
            <option selected value="type">Bar Type</option>
            <option value="PLT">Page load time</option>
            <option value="good_put_rate">Good put rate</option>
            <option value="number">Number of packets</option>
        </select>

        <button id="Button" onclick="myFunction()">Go</button>



    </div>

    <div>
        <svg></svg>
    </div>
    <script type="text/javascript">
        data = {{ tcpinfo|safe }}
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='httpquic.js') }}"></script>
</body>
</html>